<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unipi.p17134.medicalcard">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicalCard">
        <activity android:name=".GenerateQRActivity"
            android:label="@string/generate_qr_activity"
            android:theme="@style/Theme.MedicalCard.NoActionBar" />
        <activity
            android:name=".MyAccountActivity"
            android:label="@string/doctor_update_account_activity"
            android:theme="@style/Theme.MedicalCard.NoActionBar" />
        <activity
            android:name=".DoctorAppointmentScheduleActivity"
            android:label="@string/doctor_appointments_display_activity"
            android:theme="@style/Theme.MedicalCard.NoActionBar" />
        <activity
            android:name=".DoctorDetailsActivity"
            android:label="@string/doctor_details_activity"
            android:theme="@style/Theme.MedicalCard.NoActionBar" />
        <activity
            android:name=".DoctorListActivity"
            android:label="@string/doctor_list_activity"
            android:theme="@style/Theme.MedicalCard.NoActionBar" />
        <activity
            android:name=".AppointmentDetailsActivity"
            android:label="@string/appointment_details_activity"
            android:theme="@style/Theme.MedicalCard.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MedicalCard.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DoctorRegisterFormActivity"
            android:label="@string/doctor_register_activity"
            android:theme="@style/Theme.MedicalCard.NoActionBar" />
        <activity
            android:name=".DoctorRegisterPickActivity"
            android:label="@string/doctor_register_pick_activity"
            android:theme="@style/Theme.MedicalCard.NoActionBar" />
        <activity
            android:name=".RegisterFormActivity"
            android:label="@string/register_activity"
            android:theme="@style/Theme.MedicalCard.NoActionBar" />
        <activity
            android:name=".RegisterPickActivity"
            android:label="@string/register_pick_activity"
            android:theme="@style/Theme.MedicalCard.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_activity"
            android:theme="@style/Theme.MedicalCard.NoActionBar" />
    </application>

</manifest>